@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="title-text">Welcome to Hotel Administration</h1>
    <h2 class="quote">Where Room Numbers Are Our Favorite Digits! 🛎️</h2>
    <a href="/Identity/Account/Login" class="button-73" role="button">Log In</a>
    <h3 class="quote2">Get ready to experience hotel management like you've never seen before. No more lost reservations, no more confused guests – we've got it all under control.</h3>
</div>
