@page "/Calendar"

@{
    ViewData["Title"] = "Calendar";
}


    <div id="custom-calendar">
        <header>
            <h1 class="bookings-list">Room Booking Calendar</h1>
        </header>
        <div id="calendar">
        </div>
    </div>
    <script src="~/js/calendar.js"></script>
